.navigation-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.navigation-layout-page-body {
  margin: 0;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.navigation-layout-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
