.auth-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #f9fafb;
  justify-content: center;
  height: 100%;
}

.auth-container-content {
  flex-direction: column;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.auth-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.auth-container-image {
  height: 6rem;
  width: 100%;
}
.auth-container-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.auth-container-subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-secondary);
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  margin: 0;
}

.auth-container-divider {
  border-bottom: 1px solid #e5e7eb;
  margin: 1rem 0;
  width: 100%;
}

.auth-container-warning {
  font-size: 0.9rem;
  font-weight: 600;
  color: #b71c1c;
  background-color: #fdecea;
  padding: 10px;
  border: 1px solid #b71c1c;
  border-radius: 4px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
